/* Importa le direttive base, components e utilities di Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puoi aggiungere qui altri stili CSS globali se necessario */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
